[package]
name = "resvg_py"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "resvg_py"
path = "src/rust/lib.rs"
crate-type = ["cdylib"]

[dependencies]
base64 = "0.22.0"
pyo3 = "0.21.1"
resvg = { version = "0.40.0", features = ["raster-images","text"] }
svgtypes = "0.15.0"
